*#
*,cover
*.[aos]
*.aux
*.bak
*.bs
*.cachegrind
*.deb
*.dll
*.dsc
*.dylib
*.egg
*.egg-info
*.exe
*.gcda
*.gcno
*.gcov
*.gmo
*.inv
*.jar
*.ko
*.lib
*.log
*.log*
*.mo
*.moc
*.obj
*.old
*.orig
*.out
*.pid
*.py[cod]
*.rej
*.rpm
*.scexe
*.sln
*.snm
*.so
*.so.*
*.sock
*.tar.*
*.tmp
*.toc
*.valgrind
*.vc*proj*
*.vcproj
*.xcodeproj
*.xpi
*.zip
*~
.#*
.*.sw?
.DS_Store
.DT_Store
.build
.bzr*
.coverage
.envrc
.gdb_history
.hg
.ipynb_checkpoints
.project
.svn
.tox
Build
TODO
\#*
__pycache__
_build
acconfig.h
aclocal.m4
autom4te.cache
blib
build
build-aux
config.cache
config.guess
config.log
config.status
config.sub
cover
cover_db
cover_db_html
coverage-*
coverage.xml
depcomp
dist
eggs
htmlcov/
venv*/
venv/
